$color_black: #151314;
$color_white: #fff;
$color_gray: #F7F7F7;
$color_gray_primary: #dddddd;
$color_gray_low: #EBEBEB;
$color_gray_semi_dark: #BDBDBD;
$color_gray_secondary: #969696;
$color_gray_dark: #767676;
$color_gray_text: #333333;
$color_gray_high_dark: #2a2a2a;
$color_blue: #2296CB;
$color_blue_dark: #1882b3;
$color_blue_low: #4aa9d4;
$color_blue_light: #E9F5FA;
$color_blue_link: #0091FE;
$color_blue_dark_light: #DBF1FF;
$color_orange: #ffc501;
$color_orange_dark: #e4b004;
$color_tosca: #14d6b4;
$color_green: #6BBB64;
$color_yellow: #fffcf3;
$color_purple: #BB6BD9;
$color_brown: #BB9864;
$color_red: #EB5757;
$color_red_dark: #C42929;
$color_red_error: rgba(244, 68, 68, 0.8);
$color_red_light: #f7dbdb;
$color_placeholder: #f6f7f8;
$color_divider: #E6E6E6;
$color_secondary: #969696;
$color_error: #F44444;
$color_text: #A6A6A6;
$color_cancelled: #898989;
$color_shade_link_water: #D4D6D9;
/* valentino color */
/* base color */
$color_base_red: #EB5757;
$color_base_red_light : rgba(235, 87, 87, 0.2);
$color_base_red_dark : #C42929;
$color_base_red_secondary: #DC3232;
$color_base_dark_blue : #262F56;
$color_normal_text : #474141;
$color_success_green : #4ECB71;
$color_place_order : #424C5A;
$color_header : #373636;

/* Price color */
$color_price_sale : #A9AFCB;