html{
  scrollbar-width: thin !important;
  scrollbar-color: $color_gray !important;
  scrollbar-highlight-color: $color_gray_semi_dark;
  scroll-behavior: smooth;
}

.scrollbar
{
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  &::-webkit-scrollbar-corner{
    width: 6px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color_gray_light; 
    border-radius: 4px;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color_gray_semi_dark; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color_gray_semi_dark; 
  }
  
  
  /*  for mozilla */
  &::-moz-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  &::-moz-scrollbar-corner{
    width: 6px;
  }
  
  /* Track */
  &::-moz-scrollbar-track {
    background: $color_gray_light; 
    border-radius: 4px;
  }
   
  /* Handle */
  &::-moz-scrollbar-thumb {
    background: $color_gray_semi_dark; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  &::-moz-scrollbar-thumb:hover {
    background: $color_gray_semi_dark; 
  }  
}
