@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Form.module.scss";
@import "../components/Password.module.scss";
@import "./Track.module.scss";


.btn_app_view{
  @media screen and (max-width: 575px) {
    margin-bottom: 0 !important;
  }
}

.table {
  &_status {
    width: max-content;
    padding: 5px 16px;
    border-radius: 18px;
    color: $color_white;
    &_cancelled {
      color: $color_cancelled;
    }
  }
  &_detail {
    &_title {
      span {
        display: flex;
        color: $color_gray_semi_dark;
      }
    }
    &_buttonInvoice {
      display: flex;
      color: #E89F71 !important;
      padding: 6px 0px;
      border: none;
      background: none;
      align-items: center;
    }

    &_buttonUpload {
      @extend .btn_primary;
      position: relative;
      display: inline-block;

      label {
        padding: 8px 12px;
        margin-bottom: 0px !important;
      }

      input[type="file"] {
        position: absolute;
        height: 45px;
        opacity: 0;
      }
    }
    &_buttonNeedReview {
      display: flex;
      color: $color_red !important;
      padding: 6px 0px;
      border: none;
      background: none;
      svg {
        height: 18px;
      }
    }
    &_container {
      background: $color_gray;
    }
    &_info_section {
      border-bottom: 1px solid $color_gray_primary;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }
    &_info_item {
      display: flex;
      padding: 6px 0px;
      span {
        &:first-child {
          color: $color_gray_dark;
          width: 200px;
        }
      }
    }
    &_price_line {
      display: flex;
      justify-content: space-between;
      padding: 6px 0px;
      &:last-child {
        border-top: 1px dashed $color_gray_primary;
        padding: 8px 0px;
        font-weight: bold;
      }
    }
    &_item {
      &_line {
        display: flex;
        margin: 6px 0px;
        justify-content: space-between;
        color: $color_gray_text;
      }
      &_image {
        width: 30px;
        img {
          width: 30px;
        }
      }
      &_desc {
        margin: 0px 16px;
        width: calc(100% - 100px);
      }
    }
  }
  &_orderhistory {
    padding-bottom: 1rem;
    white-space: nowrap;
    overflow-x: scroll;
  }

  &_orderedItemDetailDelivered {
    @extend .btn;
    @extend .btn_primary;
    text-transform: capitalize !important;
    padding: 5px 10px;
    white-space: pre-wrap;
  }

  &_itemDetailNeedReview {
    background: transparent;
    border: none;
    padding: 0;
    color: $color_red_dark;
    text-decoration: underline;

    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }
  }

  &_history {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $color_gray_semi_dark;
    border-radius: 5px;

    thead {
      border: 1px solid $color_gray_semi_dark;

      tr {
        padding: 1rem;
        th {
          padding: 1rem;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $color_gray_low;
      }
      td {
        padding: 1rem;
        vertical-align: baseline;

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

.account {
  margin-bottom: 2rem;
  min-height: 70vh;

  &_profile {
    margin-top: 3rem;

    &__logout {
      cursor: pointer;

      svg {
        margin-bottom: 5px;
      }
    }

    h2 {
      font-size: 25px;

      @media screen and (max-width: 575px) {
        font-size: 18px;
      }

      span {
        font-family: "Poppins-black";
        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }

  &_profilePoints {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $color_blue;

    span {
      &:first-child {
        margin-right: 0.5rem;
      }
    }

    &__icon {
      color: $color_blue;
      width: 1em;
      height: 1em;
    }

    &__bold {
      margin-left: 0.35rem;
      font-family: "Poppins-black";
    }
  }

  &_shipmentTracking {
    position: fixed;
    display: block;
    margin: auto;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3rem;
  }

  &_shipmentContainer {
    width: 50%;
    margin: auto;
    background: white;

    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }

  &_tab {
    text-transform: uppercase;
    margin: 10px 0;
    padding: 20px 20px;
    white-space: nowrap;
    overflow-x: auto;

    @media screen and (max-width: 575px) {
      margin: 10px 0;
    }

    &__pane {
      width: 100%;
      min-height: 50vh;
      padding-top: 2rem;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &_tabNav {
    display: inline-block;
    list-style: none;
    margin-right: 3rem;
    cursor: pointer;

    &__link {
      color: $color_black;
      font-family: "Poppins-regular";
      font-weight: 500;
      font-size: 12px;

      &:hover {
        font-weight: 700;
        text-decoration: none;
        transition: color 500ms;
      }
    }

    &__linkActive {
      padding-bottom: 20px;
      color: $color_base_red;
      border-bottom: 2px solid $color_base_red;
      font-weight: 700;
    }

    &:last-child {
      display: none;
    }
  }

  &_info {
    display: block;
  }

  &_myAccount {
    display: block;
    &_order {
      margin: 0;
      padding: 0;
      line-height: 2rem;
      text-align: left;
      margin-bottom: 2rem;

      &__list {
        list-style: none;

        span:first-child {
          display: inline-block;
          margin-right: 15px;
        }
      }
      &__listLabel {
        display: block;
        font-weight: 500;

        @media screen and (max-width: 767px) {
          margin-bottom: .5rem;
        }
      }
      &__listValue {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
    }
  }

  &_edit {
    &__label {
      display: block;
      font-weight: 500;
      min-width: 200px;

      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }

    & [data-identity="input-dateOfBirth"] {
      width: 100%;
    }

    & [class*="react-date-picker__wrapper"] {
      & button {
        margin-top: 0;
        width: 40px;
      }
    }

    & [class*="--disabled"] {
      background-color: $color_gray_low;
    }

    & > button {
      margin-top: 1rem;
    }
  }

  &_changePassword {
    & > button {
      margin-top: 1rem;
    }
  }

  &_loyalty {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &_buttonLocation {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid $color_gray_primary;
    color: $color_gray_text;
    background-color: $color_white;
    padding: 50px;
  }

  &_mapArea {
    width: 100%;
    height: 200px;
    position: relative;
  }

  &_mapPopup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_mapCloseIcon {
    cursor: pointer;
  }

  &_mapPopupContainer {
    position: relative;
    width: 50vw;
    background: $color_white;
    border-radius: 10px;

    @media screen and (max-width: 991px) {
      margin: 0 1rem;
      width: 100%;
      height: auto;
    }
  }

  &_mapPopupHeader {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &_mapPopupHeaderTitle {
    flex: 1;
    font-size: 16px;
    color: $color_black;
    text-align: center;
  }

  &_mapPopupClose {
    border: none;
    background-color: transparent;
    font-family: "Poppins-black";
    font-size: 16px;
    color: $color_black;
    margin: 0 !important;

    &:focus,
    &:active {
      outline: 0;
      border: none;
      box-shadow: none;
    }
  }

  &_mapPopupNote {
    font-size: 14px;
    background: $color_blue_light;
    color: $color_black;
    padding: 15px;
    text-align: center;
  }

  &_mapPopupMaps {
    position: relative;
    background-color: $color_white;
    z-index: 1;
    width: 100%;
    height: 320px;

    input {
      font-size: 14px;
      width: calc(100% - 75px);
      padding: 10px 15px;
      border: 1px;
      background: $color_white;
      z-index: 2;
      position: absolute;
      top: 12px;
      right: 12px;
      left: 16px;
      border-radius: 4px;
      box-shadow: none;
      outline: 0;
    }
  }

  &_mapPopupCenterButton {
    position: absolute;
    right: 10px;
    background: #fff;
    padding: 7.5px;
    top: 12px;
    border: none;
    border-radius: 4px;
    margin: 0 !important;
  }

  &_mapPopupLabelAddress {
    font-size: 14px;
    background: $color_white;
    color: $color_black;
    padding: 15px;
  }
}

.membership {
  &_status {
    background: $color_white;
    border: 1px solid rgba(66, 76, 90, 0.28);
    padding: 18px;
    border-radius: 4px;

    & > progress::-webkit-progress-value {background-color: $color_base_red !important;}
  }

  &_accordion {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
  }

  &_accordionToggle {
    grid-column: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;

    & > p {
      font-family: "Poppins-medium";
      font-size: 18px;
      margin: 0;
    }
  }

  &_accordionIcon {
    margin-left: 10px;
    & > svg {
      stroke: $color_base_red;
    }
  }

  &_totalPoints {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    text-align: right;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px !important;
  }

  &_progress {
    border-radius: 6px;
    width: 100%;
    height: 10px;

    &::-webkit-progress-bar {
      border-radius: 6px;
      background-color: $color_gray_semi_dark;
    }

    &::-webkit-progress-value {
      background-color: $color_blue;
      border-radius: 6px;
    }
  }

  &_prompt {
    margin: 0;
    color: $color_gray_dark;
  }

  &_linkContinue {
    background: rgba(224, 224, 224, 0.5);;
    padding: 1rem;
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 16px;
    display: flex;
    flex-direction: row;

    & > p {
      margin: 0;
    }

    & > a {
      margin-left: 20px;
      color: #E89F71;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &_history {
    & > h1 {
      font-family: "Poppins-medium";
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &_historyItem {
    display: grid;
    grid-template-columns: 70% auto;
    border-bottom: 1px solid $color_gray_semi_dark;
    padding-bottom: 20px;
    margin-bottom: 20px;

    p {
      margin: 0;
    }
  }

  &_orderId {
    grid-row: 1;
    grid-column: 1;
    width: fit-content;
    background: $color_blue_light;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 2px;

    & > p {
      font-style: italic;

      & > span {
        font-family: "Poppins-medium";
      }
    }
  }

  &_transactionType {
    grid-row: 2;
    grid-column: 1;
    font-family: "Poppins-medium";
    font-size: 18px;
  }

  &_transactionDate {
    grid-row: 3;
    grid-column: 1;
    font-size: 14px;
    color: $color_gray_dark;
  }

  &_point {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    text-align: right;
    font-size: 18px;
  }

  &_pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_itemPerPage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_itemPerPageLabel {
    & > p {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  &_itemPerPageOptions {
    & > select {
      padding: 7.5px 10px;
    }
  }
  &_info {
    &_container {
      background: rgba(224, 224, 224, 0.5);
      padding: 10px 12px;
      width: 100%;
      display: flex;
      margin-bottom: 12px;
      border-radius: 3px;
    }
    &_icon {
      svg {
        width: 20px;
      }
    }
    &_label {
      margin: 0px 6px;
      padding: 3px;
    }
    &_button {
      border: none;
      background: none;
      color: #E89F71;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 575px) {
  .membership {
    &_pagination {
      display: block;
      margin-top: 2rem;
    }

    &_itemPerPage {
      margin-bottom: 20px;
    }
  }
}
