@import "../components/Placeholder.module.scss";

.article
{
  min-height: 58vh;

  & > img {
    width: 100% !important;
    height: auto;
  }

  @media screen and (max-width: 575px) {
    min-height: 40vh;
  }

	h1,h2,h3,h4,h5,h6
	{
		font-family: "Poppins-medium";
		font-size: 16px;
	}

	p
	{
		font-size: 22px;
	}

	img
	{
		width: 100%;
  }

  &_title
  {
    font-family: "Poppins-medium";
    margin-bottom: 1rem;
  }

	&_categories
	{
		&_title
		{
			font-family: "Poppins-medium";
			font-size: 16px;
		}
  }

  &_categoriesOrder
  {
    margin: 0;
    margin-top: 1rem;
    padding: 0;

    &_list
    {
      list-style: none;
      margin-bottom: .5rem;
    }
  }
}