@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Placeholder.module.scss";
@import "../components/SocialShare.module.scss";
@import "./Lookbook.module.scss";

.blog {
  margin: 50px 0;

  &_headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    width: 100%;
    height: 357px;
    border-radius: 20px;
    color: $color_white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 769px) {
      width: 100%;
      height: 88.97px;
      margin: auto;
    }
  }

  &_headerWithoutBackground {
    display: none;
  }

  &_headerTitle {
    font-size: 60px;
    font-family: "Poppins-medium";
    text-transform: capitalize;
    margin-bottom: 0;

    @media screen and (max-width: 440px) {
      font-size: 20px;
      letter-spacing: 15.6px;
    }
  }

  &_item {
    margin-bottom: 2rem;
  }

  &_itemCategory {
    position: absolute;
    margin-left: 30px;
    z-index: 1;

    @media screen and (max-width: 440px) {
    margin-left: 75px;
    }

    p {
      color: $color_white;
      background: $color_base_red;
      padding: 5px 10px;
      border-top-left-radius: 4px;
      border-bottom-right-radius: 4px;
      margin: 0;
      &:empty {
        display: none;
      }
    }
  }

  &_itemImageContainer {
    grid-column: 3;
    grid-row: 3/1;
  }

  &_itemImage {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid $color_gray_low;
    object-fit: cover;
    @media screen and (max-width: 769px) {
      width: 233px;
      height: 120px;
      // align-items: center;
      display: block;
      margin: auto;
    }
  }

  &_itemContent {
    grid-row: 2;
    padding-right: 10px;

    & > div {
      display: grid;
      grid-template-columns: 35% auto;
      @media screen and (max-width: 769px) {
        grid-template-columns: 30% auto;
      }
      @media screen and (max-width: 769px) {
        grid-template-columns: 45% auto;
      }
    }
  }

  &_contentContainer {
    margin: 10px 0;
  }

  &_itemTitle {
    grid-column: 1/3;
    font-size: 30px;
    font-family: "Poppins-medium";
    margin-bottom: 12px;
    color: #3a3a3a;
    font-weight: 600;
  }

  &_itemAuthor {
    grid-column: 2;
    grid-row: 2;

    & > div {
      font-size: 18px;
      color: #3a3a3a;
      font-weight: 500;

      @media screen and (max-width: 769px) {
        font-size: 14px;
      }
      @media screen and (max-width: 575px) {
        font-size: 12px;
      }
    }
  }

  &_itemInnerFooter {
    grid-column: 1;
    grid-row: 2;
  }

  &_itemInnerFooterDate {
    & > div {
      font-size: 18px;
      color: #3a3a3a;
      font-style: italic;
      font-weight: 500;

      @media screen and (max-width: 769px) {
        font-size: 14px;
      }
      @media screen and (max-width: 575px) {
        font-size: 12px;
      }
    }
  }

  &_button {
    color: #e89f71 !important;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    height: auto;
    position: absolute;
    left: 85%;
    @media screen and (max-width: 575px) {
      position: relative;
    }
  }

  &_empty {
    padding: 50px 0;
    text-align: center;
  }

  &_emptyTitle {
    text-transform: uppercase;
    margin: 15px 0 5px 0;
  }

  &_titleSide {
    font-size: 16px;
    font-family: "Poppins-medium";
  }

  &_category {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
  }

  &_categoryItem {
    margin: 1rem 0;
    border: 1px solid rgb(0, 0, 0, 0.25);
    text-align: center;
    padding: 5px;
    justify-items: center;
    font-size: 20px;
    border-radius: 8px;
  }

  &_categoryLink {
    color: #3a3a3a;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    &:hover {
      text-decoration: none;
    }
  }

  &_recent {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &_recentItem {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    // &:first-child {
    //   padding-top: 0;
    //   margin-top: 0;
    // }
  }

  &_recentItemImage {
    width: 80px;
      border-radius: 5px;
      margin-right: 1rem;
  }

  &_recentItemContent {
    margin: 0;
  }

  &_recentItemContentTitle {
    font-size: 16px;
    font-family: "Poppins-medium";
  }

  &_recentItemContentDate {
    margin-top: 5px;
    color: $color_gray_dark;
  }

  &_detail {
    position: relative;
    margin: 24px 0 0;
    padding: 0;

    &Navigation {
      padding-bottom: 32px;
      margin-bottom: 64px;
      border-bottom: solid 1px $color_divider;

      & > button {
        margin-right: 10px;
      }
    }

    &Share {
      position: relative;
      margin-left: 10px;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.31326 12.3925L5.05492 10.07C4.64617 10.4757 4.12643 10.7514 3.56125 10.8622C2.99606 10.973 2.41072 10.914 1.87903 10.6926C1.34733 10.4712 0.893083 10.0973 0.573547 9.61816C0.254012 9.13899 0.0834961 8.57593 0.0834961 7.99999C0.0834961 7.42405 0.254012 6.86099 0.573547 6.38182C0.893083 5.90264 1.34733 5.52879 1.87903 5.30741C2.41072 5.08602 2.99606 5.027 3.56125 5.1378C4.12643 5.2486 4.64617 5.52424 5.05492 5.92999L9.31326 3.60749C9.16721 2.92227 9.27269 2.20737 9.61042 1.59354C9.94814 0.979696 10.4955 0.507933 11.1525 0.264518C11.8095 0.0211032 12.5321 0.0223021 13.1883 0.267896C13.8444 0.513489 14.3902 0.987065 14.7259 1.60202C15.0616 2.21698 15.1647 2.93222 15.0164 3.61695C14.8681 4.30168 14.4782 4.91015 13.9182 5.33107C13.3581 5.752 12.6652 5.95726 11.9663 5.90932C11.2673 5.86138 10.6089 5.56344 10.1116 5.06999L5.85326 7.39249C5.9382 7.79304 5.9382 8.20694 5.85326 8.60749L10.1116 10.93C10.6089 10.4365 11.2673 10.1386 11.9663 10.0907C12.6652 10.0427 13.3581 10.248 13.9182 10.6689C14.4782 11.0898 14.8681 11.6983 15.0164 12.383C15.1647 13.0678 15.0616 13.783 14.7259 14.398C14.3902 15.0129 13.8444 15.4865 13.1883 15.7321C12.5321 15.9777 11.8095 15.9789 11.1525 15.7355C10.4955 15.492 9.94814 15.0203 9.61042 14.4064C9.27269 13.7926 9.16721 13.0777 9.31326 12.3925Z' fill='%23333333'/%3E%3C/svg%3E%0A") !important;
        background-size: auto 16px !important;
      }
    }

    &Icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      position: relative;
      margin: 0 6px 0 0;
      padding: 0;
      width: 14px;
      height: 14px;

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% auto;

      &__time {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.50008 10.0833C8.03139 10.0833 10.0834 8.0313 10.0834 5.49999C10.0834 2.96868 8.03139 0.916656 5.50008 0.916656C2.96878 0.916656 0.916748 2.96868 0.916748 5.49999C0.916748 8.0313 2.96878 10.0833 5.50008 10.0833Z' stroke='%232296CB' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.5 2.75V5.5L7.33333 6.41667' stroke='%232296CB' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      &__author {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16658 9.625V8.70833C9.16658 8.2221 8.97343 7.75579 8.62961 7.41197C8.2858 7.06815 7.81948 6.875 7.33325 6.875H3.66659C3.18035 6.875 2.71404 7.06815 2.37022 7.41197C2.02641 7.75579 1.83325 8.2221 1.83325 8.70833V9.625' stroke='%232296CB' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.50008 5.04167C6.5126 5.04167 7.33341 4.22086 7.33341 3.20833C7.33341 2.19581 6.5126 1.375 5.50008 1.375C4.48756 1.375 3.66675 2.19581 3.66675 3.20833C3.66675 4.22086 4.48756 5.04167 5.50008 5.04167Z' stroke='%232296CB' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }

    &Header {
      position: relative;
      margin: 0;
      padding: 0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:first-of-type,
        &:first-child {
          margin: 0 0 12px;
          padding: 0;

          font-family: "Poppins-medium", sans-serif;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
        }
      }
    }

    &Content {
      position: relative;
      margin: 0 0 32px;
      padding: 0;

      font-family: "Poppins-regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      p {
        font-size: inherit;
        line-height: inherit;
      }

      img,
      video,
      figure,
      iframe {
        max-width: 100%;
      }
    }

    &Meta {
      position: relative;

      & > div {
        &[class*="order-2"] {
          padding-left: 16px;
        }
      }

      &Wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        position: relative;
        margin: 0 0 24px;
        padding: 0 12px;

        height: 36px;

        border: none;
        background-color: $color_blue_light;
        border-radius: 3px;
        overflow: hidden;

        color: $color_blue;
      }
    }
  }
}

.pagination {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_item {
    padding: 10px;
    margin: 5px;
    list-style: none;
    cursor: pointer;
  }

  &_active {
    color: $color_blue;
    background: $color_blue_light;
    border: 1px solid $color_blue;
    border-radius: 4px;
  }
}
