@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Form.module.scss";
@import "../components/Placeholder.module.scss";
@import "../pages/ProductDetail.module.scss";
@import "../components/CartDetail.module.scss";
@import "../components/OrderSummaryCart2.module.scss";
@import "../utils/_scrollbar.scss";

.cart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 3rem;

  &_section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    margin-top: 20px;
  }

  &_notready{
    font-size: 16px;
    font-weight: 500;

    &_shopnow{
      font-size: 16px;
      font-weight: 500;
      margin-left: 10px;
      color : #E89F71;
      cursor: pointer;
    }
  }

  &_empty {
    margin-top: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
    align-self: center;

    & > button {
      width: 100%;
      padding: 10px !important;
      font-size: 16px !important;
      border-radius: 10px !important;
      font-family: "Poppins-Regular" !important;
      background-color: $color_base_red;
    }
  }

  &_emptyTitle {
    font-size: 14px;
  }

  h3 {
    margin-bottom: 24px;
    font-family: "Poppins-medium";
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }

  &_container {
    padding : 40px;
    margin-top: 20px;
  }

  &_crossSellPaggination {
    position: absolute;
    top: 15px;
    right: 11px;
  }

  &_crossSellPagginationItem {
    background-color: transparent;
    border: 0;
  }

  &_crossSell {
    position: relative;
  }

  &_crossSellHeader {
    margin: 18px 0;
  }

  &_crossSellTitle {
    font-family: "Poppins-medium";
    font-size: 16px;
    line-height: 16px;
  }

  &_cartFooter {
    margin-top: 18px;
  }

  [class*="cartBodyClassName"] {
    max-height: 400px;
    overflow-y: auto;
    @extend .scrollbar_main;
  }
}

.ordersummary {
  &_expanded {
    span {
      color: $color_black !important;
    }
  }

  &_expandedPrice,
  &_expandedLabel {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }
  &_expandedButton {
    &::before {
      background-color: $color_blue !important;
    }
  }
}

@media screen and (max-width: 575px) {
  .cart {
    &_container {
      width: 100%;
      padding: 0 1rem;
    }
  }
}
