@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Form.module.scss";

.giftcard
{
  $this: &;

  &_wrapper
  {
    position: relative;
    min-height: 100vh;
  }

  &_header
  {
    margin-bottom: 27px;
    padding : 0 27px;

    & > h1
    {
      font-family: "Poppins-bold";
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    & > p
    {
      text-align: center;
      font-size: 12px;
      color: $color_gray_dark;
      margin: 0;
    }
  }

  &_item
  {
    position: relative;
    margin: 0;
    padding: 0;

    width: 100%;

    & > small
    {
      color: $color_gray_dark;
      padding: 0;
      font-size: 13px;

      & > span
      {
        color: $color_red;
      }
    }

    & + .login_item
    {
      margin-top: 12px;
    }

    &__form
    {
      .sirclo_form_row
      {
        label
        {
          font-family: "Poppins-medium";
          color: $color_gray_dark;

          span
          {
            margin-left: 4px;
            color: $color_red;
          }
        }
  
        .form-control,
        input[type="text"],
        input[type="email"],
        input[data-identity="input-password"],
        input[data-identity="confirm-password"]
        {
          border-color: $color_gray_primary;
  
          &::-webkit-input-placeholder
          {
            color: $color_gray_semi_dark !important;
            opacity: 1 !important;
          }
  
          &:-ms-input-placeholder
          {
            color: $color_gray_semi_dark !important;
            opacity: 1 !important;
          }
  
          &::-moz-placeholder
          {
            color: $color_gray_semi_dark !important;
            opacity: 1 !important;
          }
  
          &:-moz-placeholder
          {
            color: $color_gray_semi_dark !important;
            opacity: 1 !important;
          }
        }

        button[data-identity="show-password"],
        button[data-identity="show-confirm-password"]
        {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-wrap: nowrap;
          top: 0;
          right: 1rem;
          bottom: 0;
          height: 100%;

          color: $color_gray_semi_dark;

          &:hover
          {
            color: $color_gray_text;
          }
        }
      }

      [class*="passwordValidation"]
      {
        margin-bottom: 0 !important;

        & > span
        {
          display: block;
          position: relative;
          margin-bottom: 1rem;

          &:empty
          {
            margin-bottom: 0;
          }
        }

        & + [class*="formPassword"]
        {
          margin-top: 2rem;
        }
      }
    }
  }
}