@import "../components/Banner.module.scss";
@import "../components/Button.module.scss";
@import "../components/Product.module.scss";
@import "../components/Placeholder.module.scss";
@import "../components/ProductCategory.module.scss";
@import "../components/WidgetHomePage.module.scss";

.home{
    &_product{
        text-align: center;
        font-weight: 600;

        @media screen and (max-width: 440px) {
            font-size: 20px;
        }
    }
}