@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Form.module.scss";
@import "../components/OrderSummary.module.scss";
@import "../components/Popup.module.scss";
@import "../components/Password.module.scss";
@import "../components/Placeholder.module.scss";

.placeorder
{
  background: $color_white;
  margin-bottom: 1rem;

  &_container
  {
    padding: 2rem 0;
  }

  &_heading
  {
    display: flex;
    align-items: center;
    padding: 0 1rem;

    h6
    {
      margin: 0;
      margin-left: 3rem;
      color: $color_black;
      font-weight: 600;
      font-size: 20px;
    }
  }

  &_headingIcon
  {
    cursor: pointer;
  }

  &_line
  {
    border-color: $color_gray_low;
  }

  &_lineSecond
  {
    border-color: $color_gray_low;
    margin: 0;
  }

  &_steps
  {
    // padding: 0 1rem;
    justify-content: center;
    margin-top: 3rem;
  }

  &_header
  {
    &__label
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      @media screen and (max-width: 575px) {
        flex-direction: column;
      }
    }

    &__login
    {
      margin: 0;

      span
      {
        color: black !important;
        text-decoration: underline !important;
        margin-left: 5px;
      }
    }

    &_labelRegister
    {
      display: flex;
      align-items: center;

      label
      {
        margin: 0;
        margin-left: 5px;
      }
    }
  }

  &_formError
  {
    background: $color_red_error;
    padding: 1rem;
    margin-bottom: 1rem;

    &:empty
    {
      display: none;
    }

    &__label
    {
      color: $color_white;
      margin: 0;
    }
  }

  &_shipping
  {
    margin-top: 1.5rem;

    &__checkbox
    {
      margin-right: 5px;
    }
  }

  &_popupError
  {
    text-align: center;
    padding: 1rem 0;
  }

  &_popupErrorTitle
  {
    font-family: "Poppins-bold";
    font-size: 18px;
    margin-bottom: 1rem;
  }

  &_popupErrorDesc
  {
    font-size: 14px;
    margin: 0;
  }

  &_mapNote
  {
    display: block;
  }

  &_mapChooseLocation
  {
    font-size: 14px;
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid $color_gray_primary;
    color: $color_gray_text;
    background-color: $color_white;
    padding: 30px;
  }

  &_mapArea
  {
    width: 100%;
    height: 200px;
    position: relative;
  }

  &_mapPopup
  {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_mapCloseIcon
  {
    cursor: pointer;
  }

  &_mapPopupContainer
  {
    position: relative;
    width: 50vw;
    background: $color_white;
    border-radius: 10px;

    @media screen and (max-width: 991px) {
      margin: 0 1rem;
      width: 100%;
      height: auto;
    }
  }

  &_mapPopupHeader
  {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &_mapPopupHeaderTitle
  {
    flex: 1;
    font-size: 16px;
    color: $color_black;
    text-align: center;
  }

  &_mapPopupClose
  {
    border: none;
    background-color: transparent;
    font-family: "Poppins-black";
    font-size: 16px;
    color: $color_blue;

    &:focus,
    &:active
    {
      outline: 0;
      border: none;
      box-shadow: none;
    }
  }

  &_mapPopupNote
  {
    font-size: 14px;
    background: $color_blue_light;
    color: $color_black;
    padding: 15px;
    text-align: center;
  }

  &_mapPopupMaps
  {
    position: relative;
    background-color: $color_white;
    z-index: 1;
    width: 100%;
    height: 320px;

    input
    {
      font-size: 14px;
      width: calc(100% - 75px);
      padding: 10px 15px;
      border: 1px;
      background: $color_white;
      z-index: 2;
      position: absolute;
      top: 12px;
      right: 12px;
      left: 16px;
      border-radius: 4px;
      box-shadow: none;
      outline: 0;
    }
  }

  &_mapPopupCenterButton
  {
    position: absolute;
    right: 10px;
    background: #fff;
    padding: 7.5px;
    top: 12px;
    border: none;
    border-radius: 4px;
  }

  &_mapPopupLabelAddress
  {
    font-size: 14px;
    background: $color_white;
    color: $color_black;
    padding: 15px;
  }
}