@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Form.module.scss";
@import "../components/Password.module.scss";

.resetPassword
{
  &_container
  {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    min-height: 60vh;

    @media screen and (max-width: 768px) {
      min-height: 72.5vh;
    }

    @media screen and (max-width: 576px) {
      min-height: 65vh;
    }
  }

  &_inner
  {
    width: 500px;
    padding: 2rem;
    align-content: center;
    border: 0.5px solid rgba(0, 0, 0, 0.17);
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;

    @media screen and (max-width: 576px) {
      width: 100%;
      padding: 2rem 1.5rem;
      border: none;
      box-sizing: none;
      box-shadow: none;
      border-radius: none;
    }

    &_title
    { 
      & > span
      {
        font-size: 14px;
        color: $color_gray_semi_dark;
      }
    }
  }

  &_innerForm
  {
    margin-top: 2rem;
  }

  &_error
  {
    margin: 1rem 0;
    color: $color_red;
  }
}