@import "../base/colors.scss";
@import "../components/Form.module.scss";
@import "../components/Button.module.scss";
@import "../components/Placeholder.module.scss";

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_list,
  &_header,
  &_qtyAdd {
    width: 29vw;
  }

  &_header {
    margin: 1.5rem 0 0 0;

    h4 {
      font-weight: bold;
      font-family: 'Poppins-medium';
    }

    p {
      font-family: 'Poppins-regular';
      color: $color_secondary;
      line-height: 135%;
      margin-top: .75rem;
    }
  }

  &_qtyAdd {
    padding: 1rem 1.375rem;
    background-color: $color_blue_light;
    border-radius: 3px;
    text-align: center;

    p {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &_qtyAddButton,
  &_backButton {
    color: $color_blue;
    border: 1px solid $color_blue;
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    margin-top: 0;
    background-color: transparent;
    
    &:hover {
      color: $color_white;
      background-color: $color_blue;
    }
  }

  &_backButton,
  &_emptyAddButton {
    cursor: pointer;
    border-radius: .25rem;
    margin: .75rem 0 0 0;
    padding: .5rem 0;
    width: 256px;
    text-align: center;
  }

  &_empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 190px);
  }

  &_list {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  &_card {
    border: 2px solid $color_blue_light;
    border-radius: .25rem;
    margin: 2rem 0;
    padding: 1rem;
  }

  &_main {
    position: relative;
  }

  &_user {
    position: absolute;
    top: -3rem;
    left: 3rem;

    font-size: 14px;
    font-family: 'Poppins-medium';
  }

  &_date {
    font-size: 11px;
    color: $color_secondary;

    p {
      margin-bottom: 0;
    }
  }

  &_content {
    color: $color_gray_text;
    font-size: 14px;
    line-height: 150%;
  }
  
  &_img {
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  &_placeholderContainer {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 16px;
    margin-top: 1rem;

    div:nth-child(3),
    div:nth-child(4) {
      width: 95%;
      grid-column: 1 / span 2;
    }

    div:nth-child(4) {
      width: 80%;
    }

    div:nth-child(2) {
      margin-top: 20px;
      min-height: 20px;
      height: 20px;
      width: 30%;
    }
  }

  &_formPublishOption {
    input {
      margin-right: 10px;
    }
  }

  &_placeholder {
    @extend .placeholderItem;

    position: relative;
    border: none;
    border-radius: 3px;
    overflow: hidden;

    min-height: 20px;
  }

  &_placeholderImage {
    @extend .placeholderItem;
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }
}


.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_item {
    padding: .5rem;
    margin: .25rem;
    list-style: none;
    cursor: pointer;
  }

  &_active {
    color: $color_blue;
    background: $color_blue_light;
    border: 1px solid $color_blue;
    border-radius: 4px;
  }
}


@media screen and (max-width: 767px) {
  .testimonials {
    &_list,
    &_header,
    &_qtyAdd {
      width: 100%;
    }
  }
}