@import "../base/colors.scss";
@import "../components/Button.module.scss";

.thankyou
{
  &_container
  {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    min-height: 60vh;

    @media screen and (max-width: 768px) {
      min-height: 72.5vh;
    }

    @media screen and (max-width: 575px) {
      min-height: 65vh;
    }

    &_titlePrimary
    {
      font-size: 22px;
      text-align: center;
      color: $color_green;
    }
  }

  &_label {
    display: block ruby;
  }

  &_message {
    margin: 20px 0px;
    font-size: 14px;
  }

  &_orderID {
    margin-bottom: 12px;
    font-size: 16px;

    span {
      font-weight: bold;
      text-align: center;
      margin: auto;
      display: block;
    }
  }

  &_inner
  {
    width: 500px;
    align-items: center;

    @media screen and (max-width: 575px) {
      width: 100%;
      padding: 0 1rem;
    }

    &__icon
    {
      display: flex;
      padding: 0.2rem;
      background: #4ECB71;
      color: $color_white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      flex-flow: row wrap;
      margin: auto;
    }

    h3
    {
      display: inline-block;
      margin: 16px 0px 32px 0px;
      width: 100%;
      text-align: center;
    }
  }
}