@import "../base/colors.scss";
@import "../components/Button.module.scss";
@import "../components/Form.module.scss";
@import "../components/Password.module.scss";
@import "./Track.module.scss";


.table
{
  &_orderhistory
  {
    padding-bottom: 1rem;
    white-space: nowrap;
    overflow-x: scroll;
    
    button {
      background-color: transparent;
      text-transform: uppercase;

      &:hover{
        background-color: $color_black;
        color: $color_white;
      }
    }
  }

  &_orderedItemDetailDelivered
  {
    @extend .btn;
    @extend .btn_primary;
    text-transform: capitalize !important;
    padding: 5px 10px;
    white-space: pre-wrap;
  }

  &_itemDetailNeedReview
  {
    background: transparent;
    border: none;
    padding: 0;
    color: $color_red_dark;
    text-decoration: underline;
    
    &:focus,
    &:active
    {
      outline: 0;
      box-shadow: none;
    }
  }
  
  &_history
  {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $color_gray_semi_dark;
    border-radius: 5px;

    thead
    {
      border: 1px solid $color_gray_semi_dark;
      
      tr
      {
        padding: 1rem;
  
        th
        {
          padding: 1rem;
        }
      }
    }

    tbody
    {
      td
      {
        padding: 1rem;
        vertical-align: baseline;

        ul
        {
          margin: 0;
          padding: 0;

          li
          {
            list-style: none;
            margin-bottom: .5rem;
          }
        }

        span
        {
          &:hover
          {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.pagination
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_item
  {
    padding: .5rem;
    margin: .25rem;
    list-style: none;
    cursor: pointer;
  }

  &_active
  {
    color: $color_blue;
    background: $color_blue_light;
    border: 1px solid $color_blue;
    border-radius: 4px;
  }
}

.account
{
  margin-bottom: 2rem;
  min-height: 70vh;

  &_profile
  {
    margin-top: 3rem;

    &__logout
    {
      cursor: pointer;

      svg
      {
        margin-bottom: 5px;
      }
    }

    h2
    {
      font-size: 25px;
      font-family: "roboto-black";

      span
      {
        &:last-child
        {
          margin-left: 1rem;
        }
      }
    }
  }

  &_profilePoints
  {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $color_blue;

    span
    {
      &:first-child
      {
        margin-right: .5rem;
      }
    }

    &__icon
    {
      color: $color_blue;
      width: 1em;
      height: 1em;
    }

    &__bold
    {
      margin-left: .35rem;
      font-family: "roboto-black";
    }
  }

  &_shipmentTracking{
    position: fixed;
    display: block;
    margin: auto;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3rem;
  }

  &_shipmentContainer {
    width: 50%;
    margin: auto;
    background: white;

    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }

  &_tab
  {
    text-transform: uppercase;
    margin: 10px 0;
    padding: 20px 0;
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 1px solid #ccc;

    @media screen and (max-width: 575px) {
      margin: 10px 0;
    }

    &__pane
    {
      width: 100%;
      min-height: 50vh;
      padding-top: 2rem;
    }
  }

  &_tabNav
  {
    display: inline-block;
    list-style: none;
    margin-right: 3rem;
    cursor: pointer;

    &__link
    {
      color: $color_gray_semi_dark;
      font-family: "roboto-black";
      font-size: 12px;
      
      &:hover
      {
        color: $color_blue;
        text-decoration: none;
        transition: color 500ms;
      }
    }

    &__linkActive
    {
      padding-bottom: 20px;
      color: $color_blue;
      border-bottom: 2px solid $color_blue;
    }

    &:last-child
    {
      display: none;
    }
  }

  &_info
  {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 575px) {
      flex-direction: column-reverse;
    }
  }

  &_myAccount
  {
    &_order 
    {
      margin: 0;
      padding: 0;
      line-height: 2rem;
      text-align: left;
      margin-bottom: 2rem;
      
      &__list
      {
        list-style: none;

        span:first-child
        {
          width: 170px;
          display: inline-block;

          @media screen and (max-width: 575px) {
            width: 150px;
          }
        }
      }
    }
  }

  &_edit
  {
    &__label
    {
      min-width: 200px;
      margin-bottom: 0;

      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }

    & [data-identity="input-dateOfBirth"] {
      width: 100% ;
    }

    & [class *="react-date-picker__wrapper"] {
      & button {
        margin-top: 0;
        width: 40px;
      }
    }

    & [class*="--disabled"] {
      background-color: $color_gray_low;
    }

    & > button
    {
      margin-top: 1rem;
    }
  }

  &_changePassword
  {
    & > button
    {
      margin-top: 1rem;
    }
  }

  &_loyalty
  {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &_buttonLocation
  {
    display: block;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid $color_gray_primary;
    color: $color_gray_text;
    background-color: $color_white;
    padding: 50px;
  }

  &_mapArea
  {
    width: 100%;
    height: 200px;
    position: relative;
  }

  &_mapPopup
  {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_mapCloseIcon
  {
    cursor: pointer;
  }

  &_mapPopupContainer
  {
    position: relative;
    width: 50vw;
    background: $color_white;
    border-radius: 10px;

    @media screen and (max-width: 991px) {
      margin: 0 1rem;
      width: 100%;
      height: auto;
    }
  }

  &_mapPopupHeader
  {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &_mapPopupHeaderTitle
  {
    flex: 1;
    font-size: 16px;
    color: $color_black;
    text-align: center;
  }

  &_mapPopupClose
  {
    border: none;
    background-color: transparent;
    font-family: "roboto-black";
    font-size: 16px;
    color: $color_black;
    margin: 0 !important;

    &:focus,
    &:active
    {
      outline: 0;
      border: none;
      box-shadow: none;
    }
  }

  &_mapPopupNote
  {
    font-size: 14px;
    background: $color_blue_light;
    color: $color_black;
    padding: 15px;
    text-align: center;
  }

  &_mapPopupMaps
  {
    position: relative;
    background-color: $color_white;
    z-index: 1;
    width: 100%;
    height: 320px;

    input
    {
      font-size: 14px;
      width: calc(100% - 75px);
      padding: 10px 15px;
      border: 1px;
      background: $color_white;
      z-index: 2;
      position: absolute;
      top: 12px;
      right: 12px;
      left: 16px;
      border-radius: 4px;
      box-shadow: none;
      outline: 0;
    }
  }

  &_mapPopupCenterButton
  {
    position: absolute;
    right: 10px;
    background: #fff;
    padding: 7.5px;
    top: 12px;
    border: none;
    border-radius: 4px;
    margin: 0 !important;
  }

  &_mapPopupLabelAddress
  {
    font-size: 14px;
    background: $color_white;
    color: $color_black;
    padding: 15px;
  }
}

.membership
{
  &_status
  {
    background: $color_blue_light;
    padding: 18px;
    border-radius: 2px;
  }

  &_accordion
  {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
  }

  &_accordionToggle
  {
    grid-column: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;

    & > p
    {
      font-family: "roboto-medium";
      font-size: 18px;
      margin: 0;
    }
  }

  &_accordionIcon
  {
    margin-left: 10px;
  }

  &_totalPoints
  {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px !important;
  }

  &_progress
  {
    border-radius: 6px; 
    width: 100%;
    height: 10px;

    &::-webkit-progress-bar
    {
      border-radius: 6px;
      background-color: $color_gray_semi_dark;
    }

    &::-webkit-progress-value {
      background-color: $color_blue;
      border-radius: 6px;
    }
  }

  &_prompt
  {
    margin: 0;
    color: $color_gray_dark;
  }

  &_linkContinue
  {
    background: $color_blue_light;
    padding: 1rem;
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 16px;

    & > p
    {
      margin: 0;
    }

    & > a
    {
      color: $color_blue;

      &:hover
      {
        text-decoration: none;
      }
    }
  }

  &_history
  {
    & > h1
    {
      font-family: "roboto-medium";
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &_historyItem
  {
    display: grid;
    grid-template-columns: 70% auto;
    border-bottom: 1px solid $color_gray_semi_dark;
    padding-bottom: 20px;
    margin-bottom: 20px;

    p
    {
      margin: 0;
    }
  }

  &_orderId
  {
    grid-row: 1;
    grid-column: 1;
    width: fit-content;
    background: $color_blue_light;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 2px;

    & > p
    {
      font-style: italic;

      & > span
      {
        font-family: "roboto-medium"; 
      }
    }
  }

  &_transactionType
  {
    grid-row: 2;
    grid-column: 1;
    font-family: "roboto-medium";
    font-size: 18px;
  }

  &_transactionDate
  {
    grid-row: 3;
    grid-column: 1;
    font-size: 14px;
    color: $color_gray_dark;
  }

  &_point
  {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    text-align: right;
    font-size: 18px;
  }

  &_pagination
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_itemPerPage
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_itemPerPageLabel
  {
    & > p
    {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  &_itemPerPageOptions
  {
    & > select
    {
      padding: 7.5px 10px;
    }
  }
  &_info {
    &_container {
      background: rgba(251, 192, 45, 0.5);
      padding: 10px 12px;
      width: 100%;
      display: flex;
      margin-bottom: 12px;
      border-radius: 3px;
    }
    &_icon {
      svg {
        width: 20px;
      }
    }
    &_label {
      margin: 0px 6px;
      padding: 3px;
    }
    &_button {
      border: none;
      background: none;
      color: rgb(0, 145, 254);
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 575px) {
  .membership
  {
    &_pagination
    {
      display: block;
      margin-top: 2rem;
    }

    &_itemPerPage
    {
      margin-bottom: 20px;
    }
  }
}