.cartItem
{
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  margin-bottom: 2rem;

  &_image
  {
    grid-row: 1/5;
    margin-right: 1rem;

    img
    {
      width: 85px;
      height: 85px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_imageSummary
  {
    grid-row: 1/3;
    margin-right: 1rem;

    img
    {
      width: 100%;
      height: 85px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_price{
    color : $color_base_red;
  }

  &_detail
  {
    grid-row: 1;
    grid-column: 2/5;
    align-self: center;

    & > a
    {
      font-family: "Poppins-medium";
      font-size: 18px;
      cursor: pointer;
    }
  }

  &_priceCalculate
  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 16px;
  }

  &_priceCalculateSummary
  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 16px;
  }

  &_priceRegular,
  &_priceSaleWrapper
  {
    font-size: 13px;
    align-self: center;
    margin-right: 10px;
  }

  &_priceSale
  {
    font-size: 13px;
    text-decoration: line-through;
  }

  &_discNote
  {
    font-size: 12px;
    color: $color_red_error;
  }

  &_detailSummary
  {
    grid-row: 1;
    grid-column: 2/5;

    & > a
    {
      font-family: "Poppins-medium";
      font-size: 14px;
      color: $color_white !important;
    }
  }

  &_priceCalculatePriceSummary
  {
    font-size: 14px;
    color: $color_white !important;
    align-self: center;
  }

  &_price
  {
    grid-row: 3;
    grid-column: 2;
    font-size: 16px;
  }

  &_priceSummary
  {
    grid-row: 3 !important;
    grid-column: 2/5;
    font-size: 13px;
    color: $color_white;
  }

  &_qtySummary
  {
    grid-row: 4 !important;
  }

  &_discountNoteSummary
  {
    color: rgba($color_white, 0.75);
  }

  &_priceSalePriceWrapperSummary
  {
    align-self: center;
  }

  &_priceSalePriceSummary
  {
    font-size: 14px;
    color: $color_white;
  }

  &_qty
  {
    grid-row: 4;
    grid-column: 2;
    align-self: center;
  }

  &_qtyBox
  {
    position: relative;
    width: max-content;

    @media screen and (max-width: 576px) {
      text-align: left;
      margin-left: 0;
    }

    button
    {
      position: absolute;
      width: 30px;
      height: 50px;
      display: inline-block;
      text-align: center;
      font-size: 1.25rem;
      color: rgba(0,0,0,.25);
      background: transparent;
      padding: 0;
      outline: 0;
      border: none;

      &:last-child
      {
        right: 0;
      }

      &:hover
      {
        cursor: pointer;
        color: $color_black;
      }

      &:active,
      &:focus
      {
        outline: 0;
        border: none;
      }

      &_disable
      {
        &:hover
        {
          cursor: inherit;
          color: rgba(0,0,0,.25);
        }
      }
    }

    input
    {
      width: 120px;
      height: 50px;
      border: 1px solid rgba(0,0,0,.25);
      border-radius: 2.5px;
      font-size: 18px;
      text-align: center;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }

  &_remove
  {
    grid-row: 4;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
}