@import "../base/colors.scss";
@import "../components/Button.module.scss";

.container
{
  margin-top: 32px;
}

.voucherButton
{
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 100%;
  border: 1px solid $color_gray_low;
  height: 42px;
  padding: 0 15px 0 17px;
  position: relative;
  cursor: pointer;
  margin-bottom: 32px;

  &::after
  {
    content: "";
    background: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 13L7.5 7L1.5 1' stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    margin-top: 5px;
    width: 20px;
    height: 20px;

  }
}

.voucherIcon
{
  img
  {
    width: 25px;
    height: 18px;
  }
}

.voucherText
{
  margin-left: 16px;
}

.expanded
{
  span
  {
    color: $color_black !important;
  }
}

.expandedPrice,
.expandedLabel
{
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.expandedButton
{
  &::before
  {
    background-color: $color_blue !important;
  }
}

.subTotal
{
  display: flex;
  justify-content: space-between;
}

.subTotalText
{
  font-family: "Poppins-medium";
  font-size: 14px;
  line-height: 22px;
}

.subTotalPrice
{
  font-family: "Poppins-medium";
  font-size: 14px;
  line-height: 22px;
}

.footer
{
  margin-top: 32px
}

.submitButton
{
  @extend .btn;
  @extend .btn_primary;
  @extend .btn_long;
  width: 100%;

}

.continueShopping
{
  display: none;
}