@import "../base/colors.scss";

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &_item {
      color : $color_base_red;
      padding: 0.5rem 1rem;
      margin: 0.25rem;
      list-style: none;
      cursor: pointer;
    }
  
    &_active {
      color: $color_white;
      background: $color_base_red;
      border-radius: 4px;
    }
  }