.passwordBar
{
  height: 5px;
}

.passwordValidation
{
  margin-bottom: 1rem;
}

.formPassword
{
  padding: 0;
  margin-bottom: 2rem;
  column-count: 1;
}

.formPasswordAccount
{
  width: 500px;

  @media screen and (max-width: 991px) {
    width: inherit;
  }
}

.formPasswordList
{
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;

  svg
  {
    margin-right: .5rem;
  }
}

.marginAccount
{
  margin-right: 200px;

  @media screen and (max-width: 575px) {
    margin-left: inherit;
  }
}