@import "../base/colors.scss";
@import "./Button.module.scss";

.container
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1057;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  pointer-events: auto;
}

.content
{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0;
  border-radius: 12px;
  background-color: #fff;
  pointer-events: auto;
  overflow: hidden;
  pointer-events: auto;

  @screen sm
  {
    width: 500px;
    margin: 0 1rem !important;
  }
}

.title
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-size: 20px;
  font-weight: 600;
  flex-wrap: nowrap;
  position: relative;
  margin: 22px 0 0;
  border: none;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.note
{
  font-family: "Poppins-regular";
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  max-width: 321px;
  margin: 16px;
  line-break: auto;
  padding: 10px 10px;
  white-space: pre-wrap;
  background-color: $color_blue_light;
}

.description
{
  font-size: 14px;
  font-weight: 400;
  max-width: 321px;
  white-space: pre-wrap;
  margin: 0;
}

.wrapButton
{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px 16px 22px;
}

.buttonNo 
{
  @extend .btn;
  @extend .btn_secondary;
  @extend .btn_long;
  margin-top: 8px;

  &:hover
  {
    background-color: $color_blue !important;
    color: $color_white !important;
  }
}

.buttonConfirm
{
  @extend .btn;
  @extend .btn_primary;
  @extend .btn_long;
}