@import "../base/colors.scss";

.product {
  position: relative;
  margin-bottom: 2rem;

  @media screen and (max-width: 576px) {
    margin-bottom: 1.5rem;
  }

  &_sticker {
    position: absolute;
    top: 1rem;
    right: 10%;
    text-align: center;
  }

  &_stickerLabel {
    font-family: "Poppins-black";
    display: table-cell;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 360px;
    padding: 2.5px;
    font-size: 9px;

    &__outofstock {
      background: $color_gray_semi_dark;
      color: $color_white;
    }

    &__sale {
      background: $color_red;
      color: $color_white;
    }

    &__openorder {
      background: $color_purple;
      color: $color_white;
    }

    &__comingsoon {
      background: $color_green;
      color: $color_white;
    }

    &__new {
      background: $color_blue;
      color: $color_white;
    }

    &__preorder {
      background: $color_brown;
      color: $color_white;
    }
  }

  &_link {
    &__image {
      width: 100%;
      height: 225px;
      object-fit: cover;
      border: 0.5px solid rgba(36, 52, 118, 0.4);
      border-width: 0.5px 0.5px 0px 0.5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &_label {
    
    padding-bottom: 0;
    border: 0.5px solid rgba(36, 52, 118, 0.4);
    border-width: 0px 0.5px 0.5px 0.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;

    &__title {
      font-family: "Poppins-medium";
      font-size: 16px;
      margin-bottom: 5px;
      overflow: hidden;
      max-width: calc(100% - 2rem);
      min-width: calc(100% - 2rem);
      width: calc(100% - 2rem);
      height: auto;
      white-space: initial;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &_labelPrice {
    font-size: 14px;
    color: $color_black;
    margin-bottom: 0;

    &__sale {
      display: block;
      color: $color_gray_dark;
      text-decoration: line-through;
      margin-right: 0.5rem;
    }

    &__price {
      display: block;
      color: $color_red;
    }
  }
}
