@import "../base/colors.scss";

.product
{
  position: relative;
  margin-bottom: 2rem;

  @media screen and (max-width: 576px) {
    margin-bottom: 1.5rem;
  }

  &_sticker
  {
    position: absolute;
    top: 1rem;
    right: 10%;
    text-align: center;
  }

  &_stickerLabel
  {
    font-family: "Poppins-black";
    display: table-cell;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 360px;
    padding: 2.5px;
    font-size: 9px;

    &__outofstock
    {
      background: #BDBDBD;
      color: $color_white;
    }

    &__sale
    {
      background: #EB5757;
      color: $color_white;
    }

    &__openorder
    {
      background: #BB6BD9;
      color: $color_white;
    }

    &__comingsoon
    {
      background: #6BBB64;
      color: $color_white;
    }

    &__new
    {
      background: #F2994A;
      color: $color_white;
    }

    &__preorder
    {
      background: #BB9864;
      color: $color_white;
    }
  }

  &_link
  {
    &__image
    {
      width: 100%;
      height: 225px;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &_label
  {
    margin-left: 1 rem 0;
    margin-right: 1 rem 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $color_base_dark_blue;
    height: 120px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (max-width: 440px) {
      height: 87px;
    }

    &__title
    {
      font-family: "Poppins-medium";
      font-size: 16px;
      color: $color_white;
      margin-bottom: 5px;
      overflow: hidden;
      max-width: calc(100% - 2rem);
      min-width: calc(100% - 2rem);
      width: calc(100% - 2rem);
      height: auto;
      white-space: initial;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @media screen and (max-width: 440px) {
        font-size: 12px;
      }
    }
  }

  &_labelPrice
  {
    font-size: 14px;
    color: $color_white;
    margin-bottom: 0;

    @media screen and (max-width: 440px) {
      font-size: 11px;
    }

    &__sale
    {
      display: block;
      color: $color_price_sale;
      text-decoration: line-through;
      margin-right: .5rem;
    }

    &__price
    {
      display: block;
      color: $color_white;
    }
  }
}