@import "../base/colors.scss";

.sidemenu 
{
  background-color: $color_header;
  position: fixed;
  top: 0;
  z-index: 30;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  right: -300px;
  width: 350px;
  overflow-y: scroll;
  transition: all 0.3s ease;

  @media screen and (max-width: 576px) {
    width: 280px;
  }
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.header_side_menu 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;

  @media screen and (max-width: 576px) {
    padding: 1rem;
  }

  svg
  {
    color: $color_white;

    &:hover
    {
      cursor: pointer;
      color: $color_white;
    }
  }

  h6 
  {
    font-family: "Poppins-medium";
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}