.widgetHomePage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 1rem;

  img,
  video {
    width: 100% !important;
    height: auto;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }
}

.widgetItemHomePage {
  width: 100% !important;
  margin-top: 100px;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;

  img{
    width: 50% !important;
    height: auto;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
  }

  @media screen and (max-width: 1279px) {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img,
    video {
      width: 100% !important;
      height: auto;
      cursor: pointer;
      padding: 5px;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  img,
  video {
    width: 50%;
    height: auto;
    cursor: pointer;
    padding: 5px;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: 767px) {
  .widgetHomePage {
    grid-template-columns: repeat(1, 1fr);
  }
}
